@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
:root {
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: url("../images/ice.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
section {
  width: 1345px;
  height: 525px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.table {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
}
.tuesday-1 {
  width: 110px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.tuesday-1 .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 5px 0 0 0;
  border-right: #fff 1px solid;
}
.tuesday-1 .t-body {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #a8d0d3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.2s ease;
  border-right: #464646 0.031rem solid;
  border-radius: 0 0 0 5px;
}
.tuesday-1 .t-body:hover {
  background-color: #62b5bb;
}
a {
  text-decoration: none;
  color: #000;
  transition: 0.2s ease;
  text-transform: uppercase;
  font-weight: 600;
}
a:hover {
  color: #6f00ff;
}
.small {
  font-size: 13px;
  color: #4d4d4d;
  font-weight: 500;
}

.tuesday-2 {
  width: 110px;
  height: 100%;
}

.tuesday-2 .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}
.tuesday-2 div:nth-child(2) {
  width: 100%;
  height: calc(100% - 145px);
  background-color: #a8d0d3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.2s ease;
  border: #464646 0.031rem solid;
  border-top: none;
}
.tuesday-2 div:nth-child(2):hover {
  background-color: #62b5bb;
}

.tuesday-2 div:nth-child(3) {
  background-color: #a8d0d3;
  height: 95px;
  border: #464646 0.031rem solid;
  border-bottom: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.2s ease;
}
.tuesday-2 div:nth-child(3):hover {
  background-color: #62b5bb;
}
.italic {
  font-size: 13px;
  color: #4d4d4d;
  font-style: italic;
  text-transform: capitalize;
}

.wednesday {
  width: 225px;
  height: 100%;
}
.wednesday .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}
.wednesday .div2 {
  width: 100%;
  height: 95px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  border: #464646 0.031rem solid;
  border-left: none;
  border-top: none;
}
.wednesday .div2:hover {
  background-color: #fcfdd5;
}
.wednesday .split {
  width: 225px;
  height: 190px;
  background-color: #fff;
  display: flex;
}
.wednesday .split .rotate-container {
  width: 70px;
  height: 100%;

  border-right: #464646 0.031rem solid;
  display: flex;
  align-items: center;
}
.wednesday .split .rotate-container:hover {
  background-color: #fcfdd5;
}
.rotate {
  width: 70px;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wednesday .split .div2-2 {
  width: calc(100% - 70px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wednesday .split .div2-2:hover {
  background-color: #fcfdd5;
}
.wednesday .split .div2-2 .small {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.wednesday .split .div2-2 .small .time {
  width: 70px;
}
.wednesday .div4 {
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  background-color: #a8d0d3;
  border: #464646 0.031rem solid;
}
.wednesday .div4:hover {
  background-color: #62b5bb;
}

.thursday {
  width: 225px;
  height: 100%;
}
.do {
  text-transform: lowercase;
}
.thursday .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}
.thursday .div1 {
  width: 100%;
  height: 95px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #464646 0.031rem solid;
  border-left: none;
}
.thursday .div1:hover {
  background-color: #fcfdd5;
}
.thursday .div2 {
  width: 100%;
  height: 285px;
  background-color: #fff;
  display: flex;
}
.thursday .div2 .rotate-container2 {
  width: 45%;
  height: 100%;
  border: #464646 0.031rem solid;
  border-top: none;
  display: flex;
  align-items: center;
}
.thursday .div2 .rotate-container2:hover {
  background-color: #fcfdd5;
}
.thursday .div2 .rotate-container2 .rotate2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.thursday .div2 .break {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.thursday .div2 .break div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: #464646 0.031rem solid;
}
.thursday .div2 .break div:hover {
  background-color: #fcfdd5;
}
.thursday .div3 {
  background-color: #fff;
  height: 95px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.thursday .div3:hover {
  background-color: #fcfdd5;
}

.friday {
  width: 225px;
  height: 100%;
}
.friday .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}

.friday .div1 {
  width: 100%;
  background-color: #fff;
  height: 95px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.friday .div1 .italic {
  width: 80%;
  font-weight: 500;
}
.friday .div1:hover {
  background-color: #fcfdd5;
}
.friday .div2 {
  width: 100%;
  background-color: #fff;
  height: 95px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
}
.friday .div2:hover {
  background-color: #fcfdd5;
}

.friday .div3 {
  width: 100%;
  height: 190px;
  background-color: #fff;
  display: flex;
}
.friday .div3 .rotate-container2 {
  width: 45%;
  height: 100%;
  border: #464646 0.031rem solid;
  border-top: none;
  border-bottom: none;
  display: flex;
  align-items: center;
}
.friday .div3 .rotate-container2:hover {
  background-color: #fcfdd5;
}
.friday .div3 .rotate-container2 .rotate2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.friday .div3 .break {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.friday .div3 .break div{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.friday .div3 .break div:nth-child(1){
  border-bottom: #464646 0.031rem solid;
  border-right: #464646 0.031rem solid;
}
.friday .div3 .break div:hover {
  background-color: #fcfdd5;
}

.friday .div4 {
  width: 100%;
  background-color:#a8d0d3;
  height: 95px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
  border-right: none;

}
.friday .div4:hover {
  background-color:#62b5bb;
}


.saturday {
  width: 225px;
  height: 100%;
}
.saturday .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}
.saturday .div1{
  width: 100%;
  background-color: #fff;
  height: 95px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
}
.saturday .div1:hover {
  background-color: #fcfdd5;
}
.saturday .div2{
  height: 190px;
  background-color: #fff;
  display: flex;
}
.saturday .div2 div{
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
}
.saturday .div2 div:nth-child(1){
  border: none;
}
.saturday .div2 div:nth-child(2){
  border-top: none;
  border-bottom: none;
}
.saturday .div2 div:hover {
  background-color: #fcfdd5;
}

.saturday .div3{
  height: 190px;
  background-color: #a8d0d3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
}
.saturday .div3:hover {
  background-color: #62b5bb;
}
.saturday .div3 .italic{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sunday{
  width: 225px;
  height: 100%;
}
.sunday .t-head {
  width: 100%;
  height: 50px;
  background-color: #253644;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-right: #fff 1px solid;
}
.sunday .div1{
  height: 95px;
  background-color: #a8d0d3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: #464646 0.031rem solid;
}
.sunday .div1:hover {
  background-color: #62b5bb;
}
.check-box{
  padding: 50px 0px 0 40px;
}
input[type=checkbox]{
  margin-right: 5px;
}